<div class="container">
  <h1>Simple Task Tracker</h1>

  <a routerLink="/add">
    <button class="add-btn">Add Task</button>
  </a>

  <div *ngIf="tasks.length > 0; else noTasks">
    <div class="task-card" *ngFor="let task of tasks">
      <label class="checkbox-wrapper">
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleComplete(task)"
        />
        <div class="task-content">
          <strong [class.completed]="task.completed">{{ task.title }}</strong>
          <p>{{ task.description }}</p>
          <p *ngIf="!task.completed">Due: {{ task.dueDate }}</p>
          <p *ngIf="task.completed" class="completed-text">Completed</p>
        </div>
      </label>

      
      <div class="task-actions">
        <button class="edit-btn" [routerLink]="['/edit', task.id]">✏️</button>
        <button class="delete-btn" (click)="deleteTask(task.id)">🗑️</button>
      </div>
      
    </div>
  </div>
  

  <ng-template #noTasks>
    <p class="no-tasks">No Tasks</p>
  </ng-template>
</div>
